<%- include('partials/header_nav') -%>

<body class="body-bg container min-vh-100 text-center text-color d-flex flex-column">
  <h3>Your Entries</h3>
  <ul class="row list-unstyled">
    <% for(var i=0; i<posts.length; i++) {%>
      <%if(posts[i].user == user.id){ %>

      <li class="g-col-12 justify-content-center mt-3">
        <a class="text-decoration-none text-color" href="/post/<%= posts[i]._id%>">
          <span><%=moment.utc(posts[i].date).format('Do MMM, YYYY') %></span>
        </a>
      </li>
      <%}%>
    <% } %>
  </ul>
</body>

<%- include('partials/footer') -%>