<%- include('partials/header_nav') -%>

<body class="body-bg container min-vh-100 text-center text-color d-flex flex-column">
  <h3>Your Entries</h3>
  <ul class="row list-unstyled">
    <% for(var i=0; i<posts.length; i++) {%>
      <%if(posts[i].user == user.id){ %>
        <div class="col-12">
          <div class="entry-card card col-4 col-md-3 col-lg-2 m-auto">
            <a class="text-decoration-none text-color" href="/post/<%= posts[i]._id%>">
              <li class="my-1 m-auto">
                <span><%=moment.utc(posts[i].date).format('M-DD-YYYY') %></span>
              </li>
            </a>
          </div>
        </div>
      <%}%>
    <% } %>
  </ul>
</body>

<%- include('partials/footer') -%>