<div
  class="container card .d-flex mt-5 p-5 justify-content-center"
  style="width: 30rem"
>
  <%- include('partials/header') -%>

  <main class="container">
    <div class="row justify-content-around mt-5">
      <a
        href="/login"
        class="col-3 btn btn-primary"
      >
        Login</a
      >
      <a
        href="/signup"
        class="col-3 btn btn-primary"
      >
        Signup</a
      >
    </div>
  </main>
</div>

<%- include('partials/footer') -%>
