:root {
  --main-color: rgb(30, 75, 75);
  --secondary-color: rgb(90, 200, 175);
  --button-color: white;
  --border-radius: 10px;
  --border: none;
  --button-background-color: rgb(90, 200, 175);
}

.text-color {
  color: white;
}

.body-bg {
  background-color: var(--main-color);
  background-image: linear-gradient(315deg, var(--main-color) 0%, var(--secondary-color) 74%);
}

.btn-primary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem var(--main-color);
}

.btn-logout {
  background-color: var(--main-color);
}

h1 {
  font-size: 40px;
}
